/* .navbar {
  padding: 1rem;
  background-color: rgb(231, 155, 14);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 3rem;
} */